
@media only screen and (max-width: 980px) {
    body {}
}


@media only screen and (max-width: 768px) {

    header {
        width: 768px;
    }

    .nav-left {
        float: left;
        height: 15px;
        margin: 0;
        text-align: center;
        height: 50px;
    }

    .nav-right {
        float: left;
        padding-top: 30px;
        background-color: white;
        text-align: right;
        margin-left: 150px;
    }

    .aboutme-content {
        margin: 20px;
        margin-top: 150px;
        margin-bottom: 150px;
        width: 650px;
        padding: 20px;
        height: 400px;
        overflow: hidden;
    }

    img {
        float: left;
        margin: 20px;
        width: 200px;
        margin-left: 40px;
        width: 200px;
        height: 200px;
    }


    p {
        overflow: visible;
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
    }

    /* Contact Info*/


    h2 {
        margin-left: 40px;
        margin-top: 20px;
        width: 500px;
        padding: 0;
        padding-bottom: 5px;
        font-size: 20px;
    }

    .contact-info {
        margin: 40px;
        margin-top: 150px;
        margin-bottom: 150px;
        width: 650px;
        padding: 0px;
        height: 550px;
        overflow: hidden;
    }

    .column {
        width: 200px;

    }


    #fname,
    #lname,
    #message {
        width: 500px;
        padding: 10px;
        margin: 10px auto;
        border: .5px solid grey;
    }

    .text-boxes {
        margin: 0 auto;
        margin-left: 40px;
        width: 400px;
        border-color: grey;
        line-height: 20px;
    }



    /* Portfolio Content*/

    .portfolio-content {
        margin: 40px;
        margin-top: 150px;
        margin-bottom: 150px;
        margin-left: 30px;
        width: 650px;
        padding: 0;
        overflow: hidden;
        height: 1000px;
        align-content: center;
    }

    .port-gallery {
        margin: 60px;
        align-content: center;
    }

    .container {
        float: left;
        width: 30%;
        margin-left: 60px;
        align-content: center;
    }

    .text-block {
        margin-top: 50px;
    }

    )