body {
    text-align: center;
    background-color: grey;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {}

h2 {}

.buttonSection {}

.clickMeForGif {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

#buttons {
    border: 5px solid white;
    padding: 10px;
    margin: 50px;

}

.search-parameters {
    border: 5px solid white;
    padding: 10px;
    margin: 50px;
    margin-top: 20px;
}

#newEmotionButton {
    width: 100px;
    color: white;
}

#gifSection {
    border: 5px solid white;
    padding: 10px;
    margin: 50px;
    margin-top: 20px;
}